.section1 {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 30%,
      rgba(19, 226, 0, 0.5) 80%
    ),
    url("../images/bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.section1-in h1 {
  color: white;
  font-size: 50px;
  width: 450px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 5px;
}
.section1-in h2 {
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 1rem;
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  justify-content: center;
}
.baslik {
  margin-top: 0px;
  font-weight: 500;
  font-size: 25px;
}
.section2-in {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fiyat {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  height: 300px;
  margin: 10px;
}
.fiyat ul li {
  list-style-image: url("../images/list-icon.png");
}
.card-button {
  width: 100px;
  height: 40px;
  background-color: #14e102;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 10px;
}
.card-button2 {
  width: 150px;
  height: 40px;
  background-color: #14e102;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 10px;
}
.fiyat h3 {
  font-size: 25px;
  font-weight: 500;
}
.fiyat h4 {
  font-size: 25px;
  font-weight: 500;
}
h4 span {
  font-size: 18px;
  color: rgb(107, 107, 107);
}

.indirim {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px;
}
.tl {
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 10px;
}
.kutu {
  font-size: 12px;
  width: 75px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  color: white;
  background-color: #0f6292;
}
.fiyat ul {
  margin-top: 5px;
}
.fiyat ul li {
  padding: 2px;
}
